.section_contact {
  position: relative;
  margin-bottom: 1.5rem;
}

.section_contact::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 1px;
  background-color: var(--primary-color);
  border-radius: 2px;
  margin-bottom: 10px;

}

.contact-section {
  max-width: 1200px;
  margin: 50px auto;
  color: #ddd;
  padding: 0 20px;
  text-align: center;
}

.contact-section h1 {
  font-weight: 300;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.contact-description {
  max-width: 700px;
  margin: 0 auto 40px auto;
  font-size: 1rem;
  color: #bbb;
}

.contact-content {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1 1 300px;
  /* max-width: 350px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-block {
  background: #1a1a1a;
  padding: 20px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 10px #111;
  text-align: left;
}

.cicon {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background: #2f0d22;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff004f;
  font-size: 1.8rem; 
  
}

.info-block strong {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #ff004f;
}

.info-block p {
  margin: 0;
  font-size: 0.9rem;
  color: #bbb;
}


.contact-form {
  flex: 2 1 500px;
  background: #1a1a1a;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #111;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row input {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 14px 18px;
  font-size: 1rem;
  color: #ddd;
  transition: border-color 0.3s ease;
  resize: none;

}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #666;
  
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #ff004f;
  background: #222;
}

.send-btn {
  align-self: center;
  background: #ff004f;
  border: none;
  color: white;
  font-weight: 700;
  padding: 14px 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.3s ease;
}

.send-btn:hover {
  background: #e60046;
}

@media (max-width: 900px) {
 .section_contact::after{
    width: 120px;
 }
  .contact-content {
    flex-direction: column;
    align-items: center;

  }
  .contact-info
  {
    width: 100%;
  }
  .info-block {
    width: 100%;
  }


  .contact-form {
    width: 100%;
  }
  .form-row {
    flex-direction: column;
  }
}

