.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/Images/profile.png") no-repeat right center;
  background-size: contain;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  overflow: hidden;
}

/* Overlay */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  z-index: 2;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-typed {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-typed span {
  color: #ff4d4f;
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.hero-social a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s;
  text-decoration: none;
}

.hero-social a:hover {
  color: var(--primary-color);
}
.social-circle {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.social-circle:hover {
  background-color: #ff4d4f;
}

.social-circle i {
  color: var(--secondary-color);
}


@media (max-width: 768px) {
  .hero-section {
    background-position: center ;
    padding-right: 1rem;
    background-size: cover;

  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-typed {
    font-size: 1.25rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}