.service-card-custom {
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  overflow: hidden;

}

.service {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
  width: fit-content;
  border-radius: 15px;
  background-color: #3a2a2a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  color: #ff4d4f;
}

.service-card-custom.featured {
  border-color: #ff5c5c;

}

.service-card-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background-color: #ff5c5c;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: width 0.4s ease;
}

.service-card-custom.featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ff5c5c;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: width 0.4s ease;
}

.service-card-custom.featured::after {
  content: "Featured";
  text-align: center;
  position: absolute;
  width: 180px;
  top: 30px;
  right: -40px;
  background-color: #ff5c5c;
  color: white;
  padding: 5px 15px;
  font-size: 0.8rem;
  font-weight: bold;
  transform: rotate(45deg);
  text-transform: uppercase;
  box-shadow: 0 4px 15px rgba(81, 144, 216, 0.3);

}

.service-card-custom:hover::before {
  width: 100%;
}


.service-card-custom:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(255, 127, 127, 0.3);
  border-color: #ff5c5c;
}

.service-card-icon {
  background-color: #ff7f7f;
  color: white;
  border-radius: 15px;
  padding: 14px;
  margin-bottom: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.service-card-custom:hover .service-card-icon {
  background-color: #ff5c5c;
  rotate: 20deg;
}



.section-head {
  position: relative;
  margin-bottom: 1.5rem;
}

.section-head::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 1px;
  background-color: var(--primary-color);
  border-radius: 2px;
  margin-bottom: 10px;

}

.service-card-body {
  text-align: left;
  width: 100%;
}

.service-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.service-card-text {
  font-size: 0.95rem;
  color: #cccccc;
  margin-bottom: 15px;
  line-height: 1.4;
}


.explore-btn {
  color: #ff7f7f;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.explore-btn .arrow {
  transition: transform 0.3s ease;
}

.explore-btn:hover {
  color: #ff5c5c;
}

.explore-btn:hover .arrow {
  transform: translateX(5px);
}



@media (max-width: 768px) {
  .service-card-custom {
    padding: 20px;
  }

  .service {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .section-head::after {
    width: 100px;
  }

}